@import url('https://fonts.googleapis.com/css?family=Josefun+Sans&display=swap');
:root {
  font: 16px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #333;
  font-family: 'Josefun Sans', sans-serif;
}

.mobile,
.tablet {
  display: flex;
  justify-content: left;
  padding-left: 1rem;
  padding-top: 3rem;
  color: #d7d7d7;
  font-weight: 900;
  font-size: 1.5rem;
}

h1 {
  width: 100%;
  font-size: 3rem;
  align-items: center;
  text-align: center;
  color: #d7d7d7;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.red {
  color: #fd5c5b;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  color: #7a7a7a;
  margin: auto;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.nav-2 li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.1rem;
}

img {
  width: 100%;
  height: auto;
}

.images {
  padding: 1rem;
}

section h2 {
  display: flex;
  justify-content: center;
  color: #d7d7d7;
  font-size: 3rem;
  margin-top: 6rem;
}

.touch {
  display: flex;
  justify-content: center;
}

button {
  color: #d7d7d7;
  background-color: black;
  border: none;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

/* Media Queries */

@media (min-width: 375px) {
  .top-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .top-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
  }

  .tablet {
    margin-left: 2rem;
  }

  .top {
    display: flex;
    justify-content: center;
  }
  .top-nav ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem;
  }
  .top-nav li {
    color: rgb(88, 193, 225);
    font-size: 1rem;
    list-style: none;
    padding-top: 3.5rem;
  }
  .top-nav button {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  h1 {
    width: 65%;
    margin-left: 9rem;
    margin-top: -1rem;
  }
  .images ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .images li {
    flex-basis: 50%;
    list-style: none;
    padding-bottom: 1rem;
  }

  img {
    width: 95%;
    height: auto;
  }

  h2 {
    font-size: 2rem;
  }
}
